<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">เพิ่มเส้นทางเดินรถ</h3>
            </div>
            <div class="modal-body" style="max-height:650px;overflow-y:auto;">
            	<table class="table table-condensed">
        			<tr>
        				<th class="col-md-1">สายหลัก</th>
        				<th class="col-md-1">สายที่</th>
        				<th class="col-md-4">ชื่อภาษาไทย</th>
        				<th class="col-md-4">ชื่อภาษาอังกฤษ</th>
        				<th class="col-md-1">เที่ยวขา</th>
        				<th class="col-md-1"></th>
        			</tr>
        			<tr ng-repeat="route in RouteMissingList">
        				<td>{{route.RouteMainNumber}}</td>
        				<td>{{route.RouteNumber}}</td>
        				<td>{{route.RouteName_TH}}</td>
        				<td>{{route.RouteName_EN}}</td>
        				<td>{{route.RouteType == '0'?'ขาขึ้น':'ขาล่อง'}}</td>
        				<td><button class="btn btn-primary btn-xs" ng-click="saveRoute(route.RouteId)"><i class="fa fa-plus"></i> เพิ่ม</td>
        			</tr>
        			<tr>
        				<td ng-if="RouteMissingList.length == 0" colspan="6" align="center">ไม่มีข้อมูล</td>
        			</tr>
        			<tr>
        				<td align="center" colspan="6"><button ng-click="$hide()" class="btn btn-default">ปิด</button></td>
        			</tr>
        		</table>
            </div>
        </div>
    </div>
</div>