<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 650px;">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">ประวัติการถอนเงิน</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                	<div class="form-group">
						<label class="col-sm-4 text-right">สถานะรายการ :</label>
						<div class="col-sm-8">
							<div lsw-display-status transaction="transactionDetail" typedisplay="withdrawal"></div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 text-right">เลขที่แจ้ง :</label>
						<div class="col-sm-8">
							{{transactionDetail.WithdrawalCreditTransactionIdNumber}}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 text-right">ธนาคารที่ทำการโอนเข้า :</label>
						<div class="col-sm-8">
							<div class="pull-left text-center" style="margin-right:5px; width:30px; background: {{AccountBankList[(AccountBankList | lswIndexOf: { AccountBankTypeId: transactionDetail.AgencyAccountBank.AccountBankTypeId } : 'AccountBankTypeId')].AccountBankTypeColor}};border-radius: 5px;">
			                    <span style="color:#FFFFFF">
			                        <i class="bank bank-{{AccountBankList[(AccountBankList | lswIndexOf: { AccountBankTypeId: transactionDetail.AgencyAccountBank.AccountBankTypeId } : 'AccountBankTypeId')].AccountBankTypeLogo}}"></i>
			                    </span>
			                </div>
		                </div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 text-right">เลขบัญชีธนาคาร :</label>
						<div class="col-sm-8">
							{{transactionDetail.AgencyAccountBank.AccountBankNumber}}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 text-right">จำนวนเงิน :</label>
						<div class="col-sm-8">
							<span class="danger"><strong>{{transactionDetail.WithdrawalCreditAmount | number:2}}</strong></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 text-right">วันที่ทำการยืนขอ :</label>
						<div class="col-sm-8">
							{{transactionDetail.CreatedDate | jsonDate:'dd/MM/yyyy HH:mm น.'}}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 text-right">วันที่ทำการโอน :</label>
						<div class="col-sm-8">
							{{(transactionDetail.WithdrawalTransferDate | jsonDate:'dd/MM/yyyy HH:mm น.') || 'ยังไม่ได้ทำการโอน'}}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 text-right">หลักฐาน :</label>
						<div class="col-sm-8">
							<a href="#" ng-if="transactionDetail.WithdrawalCreditContentType == 'image/jpeg' || transactionDetail.WithdrawalCreditContentType == 'image/png' || transactionDetail.WithdrawalCreditContentType == 'image/gif'" class="thumbnail thumbnail-show" ng-click="openLightboxModal(transactionDetail.WithdrawalCreditFileUploadUrl)">
				                <img ng-src="{{transactionDetail.WithdrawalCreditFileUploadUrl}}">
				            </a>{{transactionDetail.WithdrawalCreditFileUploadId==null?'ยังไม่ได้แนบหลักฐาน':''}}
						</div>
					</div>
                </div>
            </div>
             <div class="modal-footer" style="background-color:#fff !important; border-top:none; text-align: center !important">
                <button class="btn btn-default" ng-click="$hide();">ปิด</button>
            </div>
        </div>
    </div>
</div>