<div class="col-xs-12 tabbable tabs-blocks tabs-primary no-padding">
	<ul class="nav nav-tabs" tabindex="3" style="overflow: hidden; outline: none;">
		<li ng-class="{'active' : globalStatus.IsRouteViewProviceActive == 0}" class="cursor-point">
			<a ng-click="globalStatus.IsRouteViewProviceActive = 0"><i class="fa fa-tasks"></i> รายละเอียดเส้นทาง</a>
		</li>
		<li ng-class="{'active' : globalStatus.IsRouteViewProviceActive == 1}" class="cursor-point">
			<a ng-click="globalStatus.IsRouteViewProviceActive = 1"><i class="fa fa-truck"></i> จุดรับส่งผู้โดยสาร</a>
		</li>
		<li ng-class="{'active' : globalStatus.IsRouteViewProviceActive == 2}" class="cursor-point">
			<a ng-click="globalStatus.IsRouteViewProviceActive = 2"><i class="fa fa-cube"></i> ราคาหน้าตู้</a>
		</li>
		<li ng-class="{'active' : globalStatus.IsRouteViewProviceActive == 3}" class="cursor-point">
			<a ng-click="globalStatus.IsRouteViewProviceActive = 3"><i class="fa fa-user-secret"></i> ราคาเอเจนซี่</a>
		</li>
		<li ng-class="{'active' : globalStatus.IsRouteViewProviceActive == 4}" class="cursor-point">
			<a ng-click="globalStatus.IsRouteViewProviceActive = 4"><i class="fa fa-tasks"></i> ราคาบัญชี</a>
		</li>
		<li ng-class="{'active' : globalStatus.IsRouteViewProviceActive == 5}" class="cursor-point">
			<a ng-click="globalStatus.IsRouteViewProviceActive = 5"><i class="fa fa-desktop"></i> ราคาหน้าเว็บไซต์</a>
		</li>
	</ul>
	<div class="tab-content" style="padding:0px;">
		<div class="tab-pane" ng-class="{'active' : globalStatus.IsRouteViewProviceActive == 0}">
			<div class="panel panel-primary text-center" style="border-radius:0px;border-top-right-radius:4px;">
				<div class="panel-heading text-right" style="border-top-left-radius:0px;padding:10px">
					<h3 class="pull-left" style="color:#FFF;font-size:30px;">รายละเอียดเส้นทาง</h3>
					<button class="btn btn btn-warning" ng-if="globalStatus.IsRouteViewProviceActive == 0" ng-style="!RouteDetail.IsCompleted && {'visibility':'hidden'}" message-en="Are you sure to edit route?" message-th="ต้องการที่จะแก้ไขรายระเอียดเส้นทาง ใช่หรือไม่?" lsw-confirm-modal="setEditRoute()"><i class="fa fa-pencil"></i>แก้ไข</button>
				</div>
				<div class="panel-body province-stoppoint">
					<div class="form-horizontal" ng-form="RouteConfigForm">
				    	<div class="form-group">
					    	<label for="RouteMainNumber" class="col-sm-3 text-right">สายหลัก : </label>
					    	<div class="col-sm-9 text-left">
					    		{{RouteDetail.RouteMainNumber || '-'}}
					    	</div>
					    </div>
					    <div class="form-group">
					    	<label for="RouteNumber" class="col-sm-3 text-right">สายที่ : </label>
					    	<div class="col-sm-9 text-left">
					    		{{RouteDetail.RouteNumber || '-'}}
					    	</div>
					    </div>
					    <div class="form-group">
					    	<label for="RouteName_TH" class="col-sm-3 text-right">ชื่อเส้นทาง ภาษาไทย : </label>
					    	<div class="col-sm-9 text-left">
					    		{{RouteDetail.RouteName_TH}}
					    	</div>
					    </div>
					    <div class="form-group">
					    	<label for="RouteName_EN" class="col-sm-3 text-right">ชื่อเส้นทาง ภาษาอังกฤษ : </label>
					    	<div class="col-sm-9 text-left">
					    		{{RouteDetail.RouteName_EN}}
					    	</div>
					    </div>
					    <div class="form-group">
					    	<label for="RouteType" class="col-sm-3 text-right">เที่ยวขา : </label>
					    	<div class="col-sm-9 text-left">
					    		{{RouteDetail.RouteType == '0'?'ขาขึ้น':'ขาล่อง'}}
					    	</div>
					    </div>
					    <div class="form-group">
					    	<label for="RouteType" class="col-sm-3 text-right">สถานะ : </label>
					    	<div class="col-sm-9 text-left">
					    		{{RouteDetail.IsAvailabled?'เปิดบริการ':'ยังไม่เปิดบริการ'}}
					    	</div>
					    </div>
					    <div class="form-group">
					    	<label for="CommistionPerSales" class="col-sm-3 text-right">ค่าคอมมิชชันประจำทาง (%) : </label>
					    	<div class="col-sm-9 text-left">
					    		{{RouteDetail.CommistionPerSales || 0}} %
					    	</div>
					    </div>
					    <hr/>
					    <div class="form-group">
					    	<label for="RouteDistance" class="col-sm-3 text-right">ระยะทาง (กม.) : </label>
					    	<div class="col-sm-9 text-left">
					    		{{(RouteDetail.RouteDistance | number:2) || ''}} กม.
					    	</div>
					    </div>
					    <div class="form-group" ng-repeat="item in RouteDuration">
					    	<label for="Duration{{$index}}" class="col-sm-3 text-right">เวลาเดินทาง {{VehicleTypeList[(VehicleTypeList | lswIndexOf: { VehicleTypeId: item.VehicleTypeId } : 'VehicleTypeId')].VehicleTypeName}} (ชม.) : </label>
					    	<div class="col-sm-9 text-left">
					    		{{item.Duration | number:2}} ชม.
					    	</div>
					    </div>
				    </div>
	    		</div>
			</div>
		</div>
		<div class="tab-pane" ng-class="{'active' : globalStatus.IsRouteViewProviceActive == 1}">
			<div class="panel panel-primary text-center" style="border-radius:0px;border-top-right-radius:4px;">
				<div class="panel-heading text-right" style="border-top-left-radius:0px;padding:10px">
					<h3 class="pull-left" style="color:#FFF;font-size:30px;">จุดรับส่งผู้โดยสาร</h3>
					<button class="btn btn btn-warning" ng-if="globalStatus.IsRouteViewProviceActive == 1" ng-style="!RouteDetail.IsCompleted && {'visibility':'hidden'}" message-en="Are you sure to edit route?" message-th="ต้องการที่จะแก้ไขจุดรับส่งผู้โดยสาร ใช่หรือไม่?" lsw-confirm-modal="setEditRoute()"><i class="fa fa-pencil"></i>แก้ไข</button>
				</div>
				<div class="panel-body province-stoppoint">
					<div class="col-xs-12">
				    	<div class="col-xs-9">
				    		<div class="col-xs-12 text-left" ng-repeat="eachProvice in RouteProviceList track by $index" ng-init="eachProvice.parentIndex = $index">
				    			<label class="control-label">จังหวัด : {{ProvicesList.Provinces[(ProvicesList.Provinces | lswIndexOf: { ProvinceId: eachProvice.ProvinceId } : 'ProvinceId')].ProvinceName_TH}}</label><br/>
				    			<div class="text-center" ng-repeat="stopPoint in eachProvice.StopPointList | orderBy:'RouteOrder'">
					    			<div class="pull-left text-center">
					    				<button class="btn circle-button" ng-class="{'btn-success':($index==0 && eachProvice.parentIndex == 0), 'btn-warning':(($index != 0) && stopPoint.IsTransit && (!($index == (eachProvice.StopPointList.length-1) && eachProvice.parentIndex == (RouteProviceList.length-1)))), 'btn-primary':($index != 0 || eachProvice.parentIndex > 0) && (!($index == (eachProvice.StopPointList.length-1) && eachProvice.parentIndex == (RouteProviceList.length-1))), 'btn-danger':($index == (eachProvice.StopPointList.length-1) && eachProvice.parentIndex == (RouteProviceList.length-1))}">
	    									<div ng-bind="numberOfRouteOrder(eachProvice.parentIndex,stopPoint.RouteOrder)"></div>
					    				</button><br/>
					    				{{stopPointData.StopPointList[(stopPointData.StopPointList | lswIndexOf: { StopPointId: stopPoint.StopPointId } : 'StopPointId')].StopPointName_TH}}
					    				<br/>
					    				{{(stopPointData.StopPointList[(stopPointData.StopPointList | lswIndexOf: { StopPointId: stopPoint.StopPointId } : 'StopPointId')].ProvinceName_TH)}}
					    			</div>
					    			<div class="pull-left" ng-if="$index != (eachProvice.StopPointList.length-1)">
					    				<a class="arrow-button"><i class="glyphicon glyphicon-arrow-right"></i></a>
					    			</div>
				    			</div>
				    			<div class="clearfix"></div>
				    			<hr/>
				    			<div class="text-center" style="font-size:40px;" ng-show="$index != (RouteProviceList.length-1)"><i class="fa fa-arrow-down"></i></div>
				    		</div>
				    	</div>
				    	<div class="col-xs-3 text-left">
				    		<div class="col-xs-12 no-padding">
					    		<label class="control-label">รายละเอียด</label>
					    		<div class="col-xs-12" style="border:1px #ccc solid; padding:10px;">
						    		<div class="col-xs-12 margin-bottom-5">
						    			<button class="btn btn-success circle-button">&nbsp;</button> จุดต้นทาง
						    		</div>
						    		<div class="col-xs-12 margin-bottom-5">
						    			<button class="btn btn-primary circle-button">&nbsp;</button> จุดระหว่างทาง
						    		</div>
						    		<div class="col-xs-12 margin-bottom-5">
						    			<button class="btn btn-warning circle-button">&nbsp;</button>  จุดที่สามารถเปลี่ยนเส้นทางได้
						    		</div>
						    		<div class="col-xs-12 margin-bottom-5">
						    			<button class="btn btn-danger circle-button">&nbsp;</button>  จุดปลายทาง
						    		</div>
					    		</div>
				    		</div>
				    		<div class="col-xs-12 no-padding" ng-if="RouteProviceList.length > 0">
				    			<label class="control-label">มุมมองจังหวัด</label>
				    			<div class="col-xs-12" style="border:1px #ccc solid; padding:10px;">
					    			<div class="col-xs-12 text-center" ng-repeat="eachProvice in RouteProviceList track by $index">
					    				<button class="btn" ng-class="{'btn-success':$index==0,'btn-primary':($index > 0 && $index < (RouteProviceList.length-1)),'btn-danger':($index == (RouteProviceList.length-1) && RouteProviceList.length != 1)}">
					    					{{ProvicesList.Provinces[(ProvicesList.Provinces | lswIndexOf: { ProvinceId: eachProvice.ProvinceId } : 'ProvinceId')].ProvinceName_TH}}
					    				</button>
					    				<div class="text-center" style="font-size:26px;" ng-show="$index != (RouteProviceList.length-1)">
					    					<i class="fa fa-arrow-down"></i>
					    				</div>
					    			</div>
					    		</div>
				    		</div>
				    	</div>
				    </div>
	    		</div>
			</div>
		</div>
		<div class="tab-pane" ng-class="{'active' : globalStatus.IsRouteViewProviceActive == 2}">
			<section ng-include="rootUrl + '../templates/Routes/Elements/view-route-box-price-section.html'"></section>
		</div>
		<div class="tab-pane" ng-class="{'active' : globalStatus.IsRouteViewProviceActive == 3}">
			<section ng-include="rootUrl + '../templates/Routes/Elements/view-route-agency-price-section.html'"></section>	
		</div>
		<div class="tab-pane" ng-class="{'active' : globalStatus.IsRouteViewProviceActive == 4}">
			<section ng-include="rootUrl + '../templates/Routes/Elements/view-route-account-price-section.html'"></section>
		</div>
		<div class="tab-pane" ng-class="{'active' : globalStatus.IsRouteViewProviceActive == 5}">
			<section ng-include="rootUrl + '../templates/Routes/Elements/view-route-website-price-section.html'"></section>
		</div>
	</div>
</div>