<h4><strong>ยืนยันการถอนเงิน</strong></h4><hr/>
<div class="col-md-6 col-md-offset-3">
    <table class="table table-bordered">
        <tr>
            <td align="center" colspan="2">
                <div class="col-md-12" style="background: {{AccountBankList[(AccountBankList | lswIndexOf: { AccountBankTypeId: WithdrawalCreditDetail.AgencyAccountBank.AccountBankTypeId } : 'AccountBankTypeId')].AccountBankTypeColor}};border-radius: 5px;">
                    <span style="font-size:64px; color:#FFFFFF">
                        <i class="bank bank-{{AccountBankList[(AccountBankList | lswIndexOf: { AccountBankTypeId: WithdrawalCreditDetail.AgencyAccountBank.AccountBankTypeId } : 'AccountBankTypeId')].AccountBankTypeLogo}}"></i>
                    </span>
                </div>
                <div class="col-md-12">
                    <strong style="font-size:36px;">{{AccountBankList[(AccountBankList | lswIndexOf: { AccountBankTypeId: WithdrawalCreditDetail.AgencyAccountBank.AccountBankTypeId } : 'AccountBankTypeId')].AccountBankTypeName}}</strong>
                </div>
            </td>
        </tr>
        <tr>
            <td class="col-md-5" align="right">
                <strong>จำนวนเครดิตที่มี : </strong>
            </td>
            <td>
                <strong style="color:red;font-size:24px;">
                    {{(AgencyCredit.AgencyCreditPoint-AgencyCredit.AgencyCreditBorrow) | number:2}}
                </strong>
            </td>
        </tr>
        <tr>
            <td class="col-md-5" align="right">
                <strong>จำนวนเงินที่ต้องการถอน : </strong>
            </td>
            <td>
                <strong style="color:red;font-size:24px;">{{(WithdrawalCreditDetail.WithdrawalCreditAmount | number:2) || '-'}}</strong>

                <span class="pull-right" ng-style="{'color':(((AgencyCredit.AgencyCreditPoint-AgencyCredit.AgencyCreditBorrow) >= WithdrawalCreditDetail.WithdrawalCreditAmount)?'green':'red')}">
                    <i ng-class="{'fa fa-check-circle':((AgencyCredit.AgencyCreditPoint-AgencyCredit.AgencyCreditBorrow) >= WithdrawalCreditDetail.WithdrawalCreditAmount),'fa fa-times-circle':((AgencyCredit.AgencyCreditPoint-AgencyCredit.AgencyCreditBorrow) < WithdrawalCreditDetail.WithdrawalCreditAmount)}"></i>
                </span>
            </td>
        </tr>
        <tr>
            <td class="col-md-5" align="right">
                <strong>เลขบัญชี : </strong>
            </td>
            <td>
                <strong>
                    {{WithdrawalCreditDetail.AgencyAccountBank.AccountBankNumber || '-'}}
                </strong>
            </td>
        </tr>
        <tr>
            <td class="col-md-5" align="right">
                <strong>ชื่อบัญชี : </strong>
            </td>
            <td>
                <strong>
                    {{WithdrawalCreditDetail.AgencyAccountBank.AccountBankName || '-'}}
                </strong>
            </td>
        </tr>
        <tr>
            <td class="col-md-5" align="right">
                <strong>ประเภทบัญชี : </strong>
            </td>
            <td>
                <strong>
                    {{WithdrawalCreditDetail.AgencyAccountBank.AccountType || '-'}}
                </strong>
            </td>
        </tr>
        <tr>
            <td class="col-md-5" align="right">
                <strong>สาขา : </strong>
            </td>
            <td>
                <strong>
                    {{WithdrawalCreditDetail.AgencyAccountBank.AccountBankBranch || '-'}}
                </strong>
            </td>
        </tr>
        <tr>
            <td class="col-md-5" align="right">
                <strong>หมายเหตุ : </strong>
            </td>
            <td>
                {{WithdrawalCreditDetail.WithdrawalCreditNotes || '-'}}
            </td>
        </tr>
        <tr>
            <td class="col-md-5" align="right">
                <strong>เหตุผล (กรณีปฏิเสธ) : </strong>
            </td>
            <td>
                <textarea class="form-control" ng-model="WithdrawalCreditDetail.AccountingInformMoneyTransferNotes" rows="3" ng-disabled="WithdrawalCreditDetail.IsConfirm || WithdrawalCreditDetail.IsReject"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <div class="col-md-6 no-padding-left" ng-if="WithdrawalCreditDetail.WithdrawalCreditStatus == 1">
                    <button class="btn btn-danger btn-block btn-lg" ng-disabled="WithdrawalCreditDetail.AccountingInformMoneyTransferNotes == '' || WithdrawalCreditDetail.AccountingInformMoneyTransferNotes == null" ng-click="rejectWithdrawalTransfer()"><i class="fa fa-times" aria-hidden="true"></i> ปฏิเสธการถอนเงิน</button>
                </div>
                <div class="col-md-6 no-padding-right" ng-if="WithdrawalCreditDetail.WithdrawalCreditStatus == 1">
                    <button class="btn btn-success btn-block btn-lg" message-en="Are you sure to confirm this inform payment?" message-th="ยืนยันการถอนเงิน ใช่หรือไม่?" lsw-confirm-modal="confirmWithdrawalTransfer()"><i class="fa fa-check" aria-hidden="true"></i> ยืนยันการถอนเงิน</button>
                </div>
                <div class="col-md-12 no-padding" ng-if="WithdrawalCreditDetail.WithdrawalCreditStatus == 4">
                    <button class="btn btn-success btn-block btn-lg"><i class="fa fa-check" aria-hidden="true"></i> เสร็จสิ้น</button>
                </div>
                <div class="col-md-12 no-padding" ng-if="WithdrawalCreditDetail.WithdrawalCreditStatus == 3">
                    <button class="btn btn-danger btn-block btn-lg"><i class="fa fa-times" aria-hidden="true"></i> ปฏิเสธการชำระเงิน</button>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn btn-primary btn-block btn-lg" ng-click="backToWithdrawalList(WithdrawalCreditDetail.InformMoneyTransferId)">กลับไปหน้ารายการ</button>
            </td>
        </tr>
    </table>
</div>