<div class="panel panel-primary" style="border-radius:0px;border-top-right-radius:4px;">
	<div class="panel-heading text-right" style="border-top-left-radius:0px;padding:10px">
		<h3 class="pull-left" style="color:#FFF;font-size:30px;">หมายเลขตัวถัง - {{vehicleDetail.ChassisNumber}} / ทะเบียนรถ - {{vehicleDetail.PlateNumber}}</h3>
  		<button class="btn btn-default" ng-click="addNewVehicleAct()">เพิ่ม พ.ร.บ รถยนต์</button>
	</div>
	<div class="panel-body">
	    <div class="col-md-12 margin-top-10">
			<div class="input-group pull-right" style="width: 200px; top: 2px;">
                <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                </div>
                <input type="search" placeholder="ค้นหา..." class="form-control input-sm" ng-model="lswFilterOptionsAct.lswFilter">
            </div>
			<div class="navbar-form navbar-left">
	        	<div lsw-paginate="lswPaginateOptionsAct" class="lsw-paginate-position" small="true" ng-model="mainAct.SearchResults">
	        	</div>    
	        </div>
            <div class="input-group  pull-right" style="margin-right:2px;">
                <button ng-click="filterActOption()" class="btn input-sm" ng-class="{'btn-primary' : !showActAll}">แสดงทั้งหมด</button>
            </div>
			<div lsw-table="lswTableOptionsAct" ng-model="mainAct.SearchResults">
                <script type="text/ng-template" id="theadActTemplate.html">
    				<th class="col-md-3 cursor-point" ng-click="sort('ActName');">บริษัทประกันภัย</th>
    				<th class="col-md-2 cursor-point" ng-click="sort('ActNumber');">เลขทะเบียน</th>
    				<th class="col-md-2 cursor-point" ng-click="sort('StartDate');">เริ่มต้นวันที่</th>
    				<th class="col-md-2 cursor-point" ng-click="sort('EndDate');">สิ้นสุดวันที่</th>
    				<th class="col-md-1 cursor-point" ng-click="sort('IsActive');">สถานะ</th>
    				<th class="col"></th>
                </script>
                <script type="text/ng-template" id="tbodyActTemplate.html">
                    <td>{{row.ActName}}</td>
    				<td>{{row.ActNumber}}</td>
    				<td>{{row.StartDate | date:'dd/MM/yyyy'}}</td>
    				<td>{{row.EndDate | date:'dd/MM/yyyy'}}</td>
    				<td>{{(row.IsActive)?'ใช้งาน':'ไม่ใช้งาน'}}</td>
    				<td align="right">
    					<button class="btn btn-warning btn-xs" ng-click="parent.editVehicleAct(row.VehicleActId);">
    						<i class="glyphicon glyphicon-pencil"></i> แก้ไข
    					</button>
    					<button class="btn btn-danger btn-xs" message-en="Are you sure to delete this act?" message-th="ต้องการที่จะลบ พ.ร.บ. นี้ออกจากระบบ ใช่หรือไม่?" lsw-confirm-modal="parent.removeVehicleAct(row.VehicleActId)">
    						<i class="glyphicon glyphicon-trash"></i> ลบ
    					</button>
    				</td>
                </script>
            </div>
        </div>
	</div>
</div>
